:root {
    --site-color: #1976d2;
    --site-color-dark: #004ba0;
    --site-color-light: #63a4ff;
    --site-success-dark: #007E33;
    --site-warn-dark: #FF8800;
    --site-danger-dark: #CC0000;
    --site-success-light: #00C851;
    --site-warn-light: #FFBB33;
    --site-danger-light: #FF4444;
}

.hide {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
}

#key_file {
    display: none;
}

.container {
    width: 75%;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: auto;
}

.btn {
    margin: 5px;
    text-align: center;
    padding: 1em;
    background-color: var(--site-color);
    color: white;
    width: 15%;
    border: none;
}

button.btn {
    width: 15%;
}

a.btn {
    text-decoration: none;
}

.main a.btn {
    font-size: 20px;
    width: 30%;
    padding: 2em;
}

.btn:hover {
    background-color: var(--site-color-dark);
}

.btn.disabled {
    color: black;
    background-color: #aaaaaa;
}

.btn.disabled:hover {
    cursor: default;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 1em;
}

.nav .btn {
    border-radius: 10px;
}

input {
    margin: 10px;
}

.label-group {
    width: 50%;
}

.label-group label {
    text-align: right;
    width: 50%;
    display: inline-block;
}

.danger {
    border: solid 3px var(--site-danger-dark);
    background: var(--site-danger-light);
}

.warning {
    border: solid 3px var(--site-warn-dark);
    background: var(--site-warn-light);
}

.success {
    border: solid 3px var(--site-success-dark);
    background: var(--site-success-light);
}

#emoji {
    font-size: 5rem;
    margin: 5px
}

#results {
    color: #ffffff;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
}

#issues {
    align-items: flex-start;
}

#issues>span.lead, #scale {
    font-size: large;
    margin: 5px 0;
}

#issues>span {
    margin: 0 1rem 5px;
}